<!DOCTYPE html>
<html class=''>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='/css/chat.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
  </head>
  <body>
    <div id="frame">
    	<div id="sidepanel">
    		<div id="contacts">
    			<ul id="contacts-panel">
    			</ul>
    		</div>
    	</div>
    	<div class="content">
    		<div class="messages">
    			<ul id="messages">
    			</ul>
    		</div>
    		<div class="message-input">
    			<div class="wrap">
    			<input id="chatBar" type="text" placeholder="Write your message..." />
    			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
    			<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
    			</div>
    		</div>
    	</div>
    </div>
  </body>
  <footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </footer>
</html>
