<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GloGang - Username</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  </head>
  <body>
    <div class="jumbotron" style="height: 100%;">
      <h1 class="display-4">Set a username!</h1>
      <input class="form-control" id="username" style="margin-top:20px;" placeholder="Charlobino">
      <hr class="my-4">
      <p>So we can atleast know who to ban.</p>
      <p class="lead">
        <btn class="btn btn-primary btn-lg" onclick="setUsername()" role="button">Pick Username</btn>
      </p>
    </div>
  </body>
  <footer>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/username.js"></script>
  </footer>
</html>
